@import url(./reset.css);

:root {
    --golden: #D2B45D;
    --black: rgb(0, 0, 0);
    --red: rgb(254, 0, 44);
    --blue: rgb(0, 96, 255);
    --service-color: rgba(244, 191, 0, 0.4);
    --white: rgb(255, 255, 255);
    --sep: #0e0d0d;
    --font: 'Poppins', Arial, Helvetica;
}

body {
    font-family: var(--font);
    background-color: var(--black);
}

header {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    position: sticky;
    top: 0px;
    z-index: 100;


}

nav {
    max-width: 1200px;
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    z-index: 999;
}

nav .logo {
    height: 50px;
    display: flex;
    align-items: center;


}

nav .logo img {
    height: 100%;

}

nav>ul {
    display: flex;
    align-items: center;
    justify-content: end;
    list-style: none;
}

nav>ul>li {
    padding: 0 2px;
}

nav>ul>li>a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--white);
    padding: 9px 16px;
}

nav>ul>li>a:hover {
    background-color: var(--golden);
    border-radius: 8px;
}

.anchor {
    display: block;
    padding-top: 100px;
    margin-top: -100px;
}

.bgsep {
    width: 100%;
    /* padding-bottom: 2rem; */
    background-color: var(--sep);
}

.bgblack {
    width: 100%;
    background-color: var(--black);
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 650px;
    max-width: 1200px;
    margin: auto;

}

.hero-text {
    flex-basis: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.hero-text h1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 1.2;
    color: white;
}

.hero-text h1 span {
    color: var(--golden);
}

.hero-text p {
    margin: 3rem 0;
    font-size: 25px;
    font-weight: 500;
    font-style: italic;
    text-align: center;
    color: var(--white);
}

.hero-text a {

    font-size: 24px;
    border-radius: 8px;
    text-decoration: none;
    font-style: normal;
    text-align: left;
    padding: 12px 20px;
    background-color: var(--golden);
    color: white;
}

/* ----------------Mobilemenu--------------------- */
.mobilemenu button {
    text-decoration: none;
    font-size: 3rem;
    color: white;
    border: none;
    background-color: var(--black);
    /* display: none; */
}
.mobile .closeButton button{
    text-decoration: none;
    font-size: 3rem;
    color: white;
    border: none;
    background-color: var(--sep); 
}

.posContainer{
position: fixed;
top: 10px;

height: 100%;

}
.mobile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 2rem;
    width: 800px;
    position: absolute;
    top: -10px;
    height: 100%;
    background-color: var(--sep);
}

.mobilemenu a {
    text-decoration: none;
    font-size: 3rem;
    color: white;
    /* display: none; */
}

.mobile {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 2rem 3rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    max-width: 300px;
    width: 100%;
}


.mobile ul {
    list-style: none;
    text-align: center;

}

.mobile ul li {
    line-height: 2;
    
}

.mobile ul a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.mobile h4{
    font-size: 25px;
    font-weight: 500;
    color: var(--white);
    padding-top: 2rem;
}

@media screen and(max-width:900px) {
    header nav>ul {
        visibility: hidden;
    }

    .mobile {
        background-color: rgba(0, 0, 0, 0.4);
        padding: 2rem 3rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        max-width: 300px;
        width: 100%;
    }

    .mobile ul {
        list-style: none;
        text-align: center;

    }

    .mobile ul li {
        line-height: 3;
    }

    .mobile ul a {
        text-decoration: none;
        color: white;
    }

}
.mobsocial{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 15px;

}
.mobsocial a{
    padding-right: 10px;
    font-size: 2rem;
    color: var(--white);
}
.mobsocial a:hover{
    color: var(--golden);
}
.mobilemenu a {
    text-decoration: none;
   font-size: 3rem;
   color: white; 
   display: none;
}

/* --------------------------Hero Grid Image----------------- */
.hero-image {
    width: 50%;

}

.grid-container {

    width: 100%;
    height: 600px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.grid1 {

    grid-area: 2 / 1 / 4 / 2;
    overflow: hidden;
    border-radius: 8px;
}

.grid2 {

    grid-area: 1 / 2 / 3 / 3;
    overflow: hidden;
    border-radius: 8px;
}

.grid3 {

    grid-area: 3 / 2 / 5 / 3;
    overflow: hidden;
    border-radius: 8px;
}

.grid-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* -----------Popular Service----------------- */
.popular-service {
    width: 100%;
    padding: 4rem 0;
    background-color: var(--black);
}

.serivce-container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
    flex-direction: row;

}

.serivce-container>div {
    width: 30%;
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    color: white;
    flex-direction: column;
    border: 1px solid #343434;
    padding: 3rem 0;
    transition: 0.5s all;
}

.serivce-container>div:hover {
    transform: scale(1.07);
    transition: 0.5s all;
    cursor: pointer;
    border: 1px solid var(--golden);
}

.service-btn a:hover {
    background-color: red;
    transform: scale(1.07);
    transition: 0.5s all;
    cursor: pointer;
}

.service-icon {
    width: 70px;
    height: 70px;
    overflow: hidden;
    cursor: pointer;
    padding-bottom: 1.5rem;

}

.service-icon img {
    width: 100%;
    height: 100%;
}

.service-title h4 {
    font-size: 32px;
    font-weight: 550;

}

.service-text {
    text-align: center;
    line-height: 1.6;
    padding: 2rem 15px;
}

.service-btn a {
    text-decoration: none;
    font-size: 24px;
    background-color: var(--golden);
    padding: 9px 16px;
    border-radius: 8px;
    color: white;
    transition: 0.5s all;
}

/* -------------------Gallery--------------------- */
.gallery {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.gallerygrid {
    max-width: 1200px;
    width: 100%;
    height: 600px;
    display: grid;
    gap: 10px;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(24, 1fr);
    overflow: hidden;
}

.gallerygrid :hover {
    transform: scale(1.3);
    border: 3px solid var(--golden);
    z-index: 10;
}

.gallerygrid>div>img {
    background-size: cover;
}

.gallery img {
    filter: grayscale(95%);
}

.gallery video {
    filter: grayscale(95%);
}

.gallery img:hover {
    transition: ease-in-out 0.5s;
    filter: none;
    cursor: pointer;
    transform: scale(1.1);
}

.gallery video:hover {
    transition: 0.50s;
    filter: none;
    cursor: pointer;
}

.gallery1 {
    grid-area: 3/4/6/7;
    background-color: #D2B45D;
    overflow: hidden;
}

.gallery1 img {
    object-fit: fill;
    width: 100%;
    height: 100%;
    display: block;
}

.gallery2 {
    grid-area: 6/2/9/7;
    background-color: #ffc209;
    overflow: hidden;
}

.gallery2 img {
    object-fit: contain;
    width: 100%;
    height: auto;
    display: block;
}

.gallery3 {
    grid-area: 9/4/13/7;
    background-color: #7b00ff;
    overflow: hidden;
}

.gallery3 img {
    object-fit: contain;
    width: auto;
    height: 100%;
    display: block;
}

.gallery4 {
    grid-area: 4/7/7/12;
    background-color: #ff0000;
    overflow: hidden;
}

.gallery4 img {
    object-fit: contain;
    width: 100%;
    height: auto;
    display: block;
}

.gallery5 {
    grid-area: 7/7/12/14;
    overflow: hidden;
}

.gallery5 img {
    object-fit: contain;
    width: 100%;
    height: auto;
    display: block;
}

.gallery5 video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-position: center; */
}

.gallery5:hover img {
    /* opacity: 0; */
    display: none;

}

.gallery5:hover video {
    opacity: 1;
}

.gallery6 {
    grid-area: 2/12/7/17;
    background-color: #27067f;
    overflow: hidden;
}

.gallery6 img {
    object-fit: contain;
    width: 100%;

    height: auto;
    display: block;
}

.gallery7 {
    grid-area: 7/14/11/19;
    background-color: #e0d2a7;
    overflow: hidden;
}

.gallery7 img {
    object-fit: contain;
    width: 100%;
    height: auto;
    display: block;
}

.gallery8 {
    grid-area: 4/17/7/22;
    background-color: #43ab07;
    overflow: hidden;
}

.gallery8 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}

.gallery9 {
    grid-area: 7/19/11/24;
    background-color: #D2B45D;
    overflow: hidden;
}

.gallery9 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}

.gallery10 {
    grid-area: 11/18/14/22;
    background-color: #a80780;
    overflow: hidden;
}

.gallery10 img {
    object-fit: contain;
    width: 100%;
    height: auto;
    display: block;
}

.gallery11 {
    grid-area: 12/7/15/11;
    background-color: #8e4b7d;
    overflow: hidden;
}

.gallery11 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}

.gallery12 {
    grid-area: 12/11/16/14;
    background-color: #ac4492;
    overflow: hidden;
}

.gallery12 img {
    object-fit: contain;
    width: 100%;
    height: auto;
    display: block;
}

.gallery13 {
    grid-area: 11/14/15/18;
    background-color: #35315b;
    overflow: hidden;
}

.gallery13 img {
    object-fit: fill;
    width: 100%;
    height: auto;
    display: block;
}

/* -------------CLient Review---------------------- */
.review {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
    width: 100%;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
    color: wheat;
    padding: 3rem 0;
    background-color: var(--black);

}

.review-item-box {
    border: 1px solid black;
    border-radius: 10px;
    background-color: var(--white);
    flex-basis: 1;
    margin: auto;
    padding: 15px;
    margin-bottom: 20px;
    color: black;
}

.top-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 0;
}

.client-detail {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.client-detail .profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
}

.client-name {
    padding-left: 20px;
}

.client-name h6 {
    font-weight: 600;
    font-size: 16px;
}

.client-name p {
    font-size: 12px;
    color: var(--client-review-date);
}

.google-logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding-right: 20px;
}

.google-logo img {
    width: 100%;
    height: 100%;
}

.rating {
    padding-left: 20px;
}

.rating i {
    font-size: 1.3rem;
}

.client-msg {
    padding: 15px 20px;
}

/* -------------------Prodcuts----------------------- */
.sellitems {
    width: 100%;
    background-color: var(--sep);
    padding: 2rem 0;
}

.product {
    color: white;
    margin: auto;
    max-width: 1200px;
    width: 100%;

}

#subHeading {
    text-align: center;
    font-size: 3rem;
    padding: 2rem 0;
    color: var(--white);
    font-weight: 500;

}

#subHeadingOtherPage {
    text-align: center;
    font-size: 3rem;
    padding: 1rem 0;
    color: var(--white);
    font-weight: 550;
    background-color: var(--sep);
}

.product p {
    text-align: center;
    line-height: 2;
    width: 80%;
    margin: auto;
}

.item-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3rem 0;

}

.item {

    width: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.item .item-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    background-color: var(--white);
    outline: 4px solid rgba(0, 0, 0, 0);
}

.item-img img {
    width: 40%;
}

.item-img:hover {
    cursor: pointer;
    outline: 4px solid var(--golden);
    transition: all 0.5s;
}

.item-img:hover img.productphoto {
    transform: scale(1.1);
    transition: all 0.5s;
    cursor: pointer;
}

.item-text {
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.item-text h4,
.item-text h4 a {
    padding: 10px 0;
    font-size: 20px;
    color: var(--white);
    text-decoration: none;
}

/* -------------Footer----------------------- */
footer {
    width: 100%;
    color: white;
}

.footerone {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 0;
}

.infopack {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 50%;

}

.infopack-text {
    padding-top: 2rem;
    line-height: 2;
    font-size: 18px;
}

.infopack-text a {
    text-decoration: none;
    color: var(--golden);
}

.socialmedia {
    padding: 2rem 0;
}

.socialmedia h3 {
    font-size: 18px;
    font-weight: 200;
    line-height: 2;
}

.socialicons {
    width: 50%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 10px;
}

.socialicons a {
    font-size: 2rem;
    padding: 0 15px 0 0;
    color: var(--white);
    text-decoration: none;
}

.socialicons a:hover {
    color: var(--golden);
    transition: all 0.3s;
}

.footlogo {
    width: 30%;
}

.footlogo img {
    width: 70%;
}

.openinghours {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.openinghours h3 {
    font-size: 22px;
    padding-bottom: 2rem;
    font-weight: 550;
}

.openinghours p {
    font-size: 18px;
    font-style: italic;
    padding-top: 20px;
    color: var(--golden);
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.wrapper ul {
    list-style: none;
}

.wrapper ul li {
    font-size: 18px;
    line-height: 2;
}

.footerlast {
    color: white;
    text-align: center;
    font-size: 18pxpx;
    background-color: var(--sep);
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footerlast p a {
    color: var(--white);
    font-size: 15px;
    font-weight: 300;
    padding: 0 10px;
}

.footerlast p a:hover {
    color: var(--golden);
}

/* ---------------Terms and Condition PAge-------------------- */
.tnctopbar {
    width: 100%;
    background-color: var(--sep);
    padding: 20px 0;
}

.tnctopbar h2 {
    color: white;
    font-size: 2.5rem;
    padding: 20px 0;
    font-weight: 550;
    text-align: center;
}

.tnctopbar p {
    text-align: center;
    color: var(--white);
}

.tnctopbar p a {
    color: var(--white);
    padding: 5px;
    text-decoration: none;
    font-weight: 200;
    font-size: 16px;
}

.tnctopbar p a:hover {
    text-decoration: underline;
    color: var(--golden);
}

.tnccontents {
    color: var(--white);
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.tncheading {
    font-size: 28px;
    font-weight: 500;
    padding: 3rem 0 1.5rem;
}

.tnctext {
    line-height: 1.6;
    text-align: justify;
    list-style-type: none;
    list-style-position:
        outside;

}

.tnctext li {
    line-height: 1.6;
}

.tnctext a {
    color: var(--golden);
}

/* --------------------Privacy Policies--------------------- */
.pptopbar {
    width: 100%;
    background-color: var(--sep);
    padding: 20px 0;
}

.pptopbar h2 {
    color: white;
    font-size: 2.5rem;
    padding: 20px 0;
    font-weight: 550;
    text-align: center;
}

.pptopbar p {
    text-align: center;
    color: var(--white);
}

.pptopbar p a {
    color: var(--white);
    padding: 5px;
    text-decoration: none;
    font-weight: 200;
    font-size: 16px;
}

.pptopbar p a:hover {
    text-decoration: underline;
    color: var(--golden);
}

.ppcontents {
    color: var(--white);
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 20px 0;
}

.ppheading {
    font-size: 28px;
    font-weight: 500;
    padding: 3rem 0 1.5rem;
}

.pptext {
    line-height: 1.6;
    text-align: justify;
    list-style-type: circle;
    list-style-position:
        outside;

}

.pptext li {
    line-height: 1.6;
}

.pptext a {
    color: var(--golden);
}

/* ------------------Responsive ------------------------ */
/* @media screen and (min-width: 300px) and (max-width: 800px){
  
    nav ul{
        display: none;
    }
    .hero-text {

        display: none;
    }
    .hero-image{
        display: none;
    }
    .hero{
        display: block;
        background: url(../images/sonam.webp);
        background-size: cover;
        background-position: top;
   

        width: 100%;
    }
    .mobileherotext{
        
        text-align: left;
        font-size: 3rem;
      
        color: var(--white);
        font-weight: 700;
        line-height: 1.2;
    }
    .mobileherotext h3 span {
        color: var(--golden);
    }
}
@media screen and (min-width:300px) {

    .mobileherotext{
        
        text-align: left;
        font-size: 40px;
        padding: 2rem 0;
        color: var(--white);
        font-weight: 700;
        line-height: 1.2;
    }
}